body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

#game-status {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

main {
  display: flex;
  flex-direction: column;
}

span {
  align-self: center;
  margin-bottom: 0.5em;
}

.numpad {
  margin-top: 4rem;
  align-self: center;
}

.number-display-container {
  display: flex;
  justify-content: center;
  gap: 0.25em;
}

.number-display-container > .number-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
}

.restart-button-container {
  display: block;
  align-self: center;
  margin-top: 2rem;
}

.logger-container > .title {
  margin: 0;
  margin-left: 1rem;
  font-weight: bold;
}

.logger-container > #logs {
  margin-top: 0.75rem;
  margin-left: 2rem;
}

.logger-container > #logs > li:first-child {
  margin-top: 0.25rem;
}

.logger-container > #logs > li {
  margin-top: 0.5rem;
}
